.button {
  width: max-content;
  height: 40px;
  background: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-white;
  border: 0;
  cursor: pointer;
  padding: 9px 22px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
    padding: 8px 20px;
  }

  &:hover {
    transition: 0.5s;
    background: $color-brown;
  }

  &:active{
    transition: 0.5s;
    background: #CFAF91;
  }
}
