.header {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media (max-width: 1399px) {
    margin-top: 35px;
    margin-bottom: 35px;
    max-height: 32px;
  }

  &__logo {
    margin-right: 59px;

    @media (max-width: 1399px) {
      margin-right: 0;
      max-height: 32px;
    }

    &:hover {
      transition: 0.5s;
      opacity: 0.5;
    }

    &:active {
      transition: 0.5s;
      opacity: 0.7;
    }
  }

  &__nav {
    margin-right: auto;

    @media (max-width: 1399px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 1399px) {
      display: none;
    }

    &--loupe {
      display: flex;
    }

    &--menu {
      display: none;

      @media (max-width: 1399px) {
        display: block;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #1E0606;
      }
    }
  }

  &-item__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $color-text;
    margin-right: 20px;
    border: none;
    background: none;

    &:hover {
      transition: 0.5s;
      opacity: 0.5;
    }

    &:active {
      transition: 0.5s;
      opacity: 0.7;
    }

    &--fatty {
      margin-right: 0;
      font-weight: 700;
      color: $color-text;
    }
  }

  &-item__icon {
    margin-right: 23px;
    background-image: url(../img/icon/loupe.svg);
    width: 18px;
    height: 18px;

    @media (max-width: 1399px) {
      margin: 0;
    }
  }
}
