html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-white;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

.undotted {
  list-style-type: none;
}
