.anim {
  margin: 0 auto;
}

.animation {
    margin-top: 60px;

    &__title {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-transform: uppercase;
      color: #1E0606;
      margin-bottom: 10px;
    }

    &__back {
      position: relative;
      overflow: hidden;
      margin-bottom: 70px;
    }

    &__sun {
      position: relative;
      left: 5%;
      animation: clouds 5s ease-in-out infinite;
    }

    &__elements {
      position: relative;
    }

    &__lanterns {
      position: absolute;
      top: 172px;
      right: 0;
    }

    &__cars--one {
      position: absolute;
      top: 55.07%;
      animation: one 6s ease-in-out infinite;
      animation-delay: 1s;
    }

    &__cars--two {
      position: absolute;
      top: 55.03%;
      animation: two 8s ease-in-out infinite;
      animation-delay: 0.5s;
    }

    &__cars--three {
      position: absolute;
      top: 58.92%;
      animation: three 4s ease-in-out infinite;
    }

    &__cars--four {
      position: absolute;
      top: 51.15%;
      animation: four 10s ease-in-out infinite;
    }

    &__lantern {
      position: absolute;
      bottom: 50px;
      left: 1115px;
    }

    &__girl {
      position: absolute;
      left: 182px;
      top: 455px;
    }

    &__girl--hand {
      position: absolute;
      left: 209px;
      top: 568px;
      animation: girl_hand 10s ease-in-out infinite;
      animation-delay: 1s;
    }

    &__suitcases {
      position: absolute;
      left: 172px;
      top: 628px;
      z-index: 2;
    }

    &__boy {
      position: absolute;
      left: 288px;
      top: 369px;
      z-index: 1;
    }

    &__boy--hand {
      position: absolute;
      left: 288px;
      top: 331px;
      transform-origin: 10px 119px;
      transform: rotateZ(150deg);
      animation: boy_hand 10s ease-in-out infinite;
      animation-delay: 4s;
    }

    &__taxi {
      position: absolute;
      top: 400px;
      right: -887px;
      animation: taxi 10s ease-in-out infinite;
      animation-delay: 3s;
    }

    &__message--girl {
      position: absolute;
      left: 92px;
      top: 350px;
      opacity: 0;
      animation: message_girl 10s ease-in-out infinite;
      animation-delay: 1s;
    }

    &__message--boy {
      position: absolute;
      left: 278px;
      top: 280px;
      z-index: 3;
      opacity: 0;
      animation: message_boy 10s ease-in-out infinite;
      animation-delay: 4s;
    }

    &__message--boy2 {
      position: absolute;
      left: 278px;
      top: 280px;
      z-index: 3;
      opacity: 0;
      animation: message_boy2 10s ease-in-out infinite;
      animation-delay: 10s;
    }

    &__message--taxi {
      position: absolute;
      left: 950px;
      top: 345px;
      z-index: 3;
      opacity: 0;
      animation: message 10s ease-in-out infinite;
      animation-delay: 9s;
    }
}

@keyframes clouds {
  0% {
    left: 5%;
  }
  50% {
    left: 10%
  }
  100% {
    left: 5%;
  }
}

@keyframes one {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes two {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}

@keyframes three {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

@keyframes four {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes taxi {
  0% {
    right: -887px;
  }
  20% {
    right: -380px;
  }
  60% {
    right: -40px;
  }
  75% {
    right: -40px;
  }
  100% {
    right: 3000px;
  }
}

@keyframes girl_hand {
  0% {
    transform-origin: 10px 10px;
    transform: rotateZ(0);
  }
  10% {
    transform-origin: 10px 10px;
    transform: rotateZ(-50deg);
  }
  30% {
    transform-origin: 10px 10px;
    transform: rotateZ(0);
  }
  100% {
    transform-origin: 10px 10px;
    transform: rotateZ(0);
  }
}

@keyframes message_girl {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes message_boy {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes boy_hand {
  0% {
    transform-origin: 10px 119px;
    transform: rotateZ(150deg);
  }
  10% {
    transform-origin: 10px 119px;
    transform: rotateZ(2deg);
  }
  30% {
    transform-origin: 10px 119px;
    transform: rotateZ(150deg);
  }
  100% {
    transform-origin: 10px 119px;
    transform: rotateZ(150deg);
  }
}

@keyframes message {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes message_boy2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
