.blog {
  margin-top: 60px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 15px;
  }

  &__path {
    display: flex;
    gap: 53px;
    position: relative;
    margin-bottom: 50px;
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: $color-text;
    cursor: pointer;

    &--arrow::after {
      content: url(/img/icon/vector.svg);
      position: absolute;
      left: 62px;
    }

    &--opacity {
      opacity: 0.5;
    }
  }

  &__news {
    margin-bottom: 45px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 34px;
    column-gap: 20px;
  }

  &__item {
    max-width: 380px;
  }

  &__img {
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__date {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-bottom: 7px;
  }

  &__news-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: $color-text;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover,
    &:active {
      text-decoration-line: underline;
    }
  }

  &__news-subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $color-text;
  }

  &__pages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__button--left {
    background-image: url(/img/icon/arrow_inaction.svg);
    border: 0;
    width: 18px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/img/icon/arrow_hover.svg);
    }

    &:active {
      background-image: url(/img/icon/arrow_active.svg);
    }
  }

  &__button--right {
    background-image: url(/img/icon/arrow_inaction.svg);
    border: 0;
    width: 18px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/img/icon/arrow_hover.svg);
    }

    &:active {
      background-image: url(/img/icon/arrow_active.svg);
    }
  }

  &__numbers {
    display: flex;
    gap: 64px;
  }

  &__num {
    border: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-text;
    background: none;
    cursor: pointer;

    &:hover {
      color: #AAAAAA;
    }

    &:active {
      color: $color-brown;
    }

    &--active {
      color: $color-brown;
    }
  }
}
