.catalog {
  margin-top: 60px;
  margin-bottom: 55px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    column-gap: 20px;
    row-gap: 23px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--margin:nth-child(4) {
      margin-left: 200px;
    }
  }

  &__img {
    background-color: #DBE4DB;
  }

  &__text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 103px;

    &:hover,
    &:active {
      text-decoration-line: underline;
    }

    &--apparel {
      left: 75px;
      width: 129px;
    }

    &--holiday {
      left: 62px;
      width: 155px;
    }

    &--toys {
      top: 119px;
      left: 104px;
    }

    &--accessories {
      left: 44px;
      top: 119px;
    }

    &--sale {
      top: 119px;
      left: 105px;
    }

    &--adults {
      width: 155px;
      left: 62px;
      text-align: center;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 55px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $color-text;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 200px;
  }

  &__subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    margin-left: 200px;
    max-width: 680px;
  }
}
