.contact {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 15px;
}

.contact__path {
  display: flex;
  gap: 50px;
  position: relative;
  margin-bottom: 50px;
}

.contact__subtitle {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
}

.contact__vector::after {
  content: url(/img/icon/vector.svg);
  position: absolute;
  left: 62px;
}

.contact__active {
  opacity: 0.5;
}

.contact__main {
  display: flex;
  gap: 120px;
}

.contact__main-wrapper {
  background: #E5EAF8;
  min-width: 680px;
  min-height: 542px;
}

.contact__main-form {
  padding: 42px 40px;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
}

.contact__main-label {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-bottom: 3px;
}

.contact__main-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 48px;
  margin-bottom: 21px;
  min-width: 248px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-two-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__main-textarea {
  width: 558px;
  height: 123px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
  margin-bottom: 17px;
  padding: 14px 20px 11px 20px;
}

.contact__main-personal {
  margin-bottom: 13px;
}

.contact__main-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contact__main-checkbox+label {
  display: inline-flex;
}

.contact__main-checkbox+label::before {
  content: '';
  width: 19px;
  height: 19px;
  background-image: url(/img/icon/checkbox.svg);
  margin-right: 15px;
}

.contact__main-checkbox:checked+label::before {
  background-image: url(/img/icon/checkbox_check.svg);
}

.contact__main-submit {
  padding: 9px 22px;
  background: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: max-content;
  border: 0;
  cursor: pointer;
}

.contact__main-submit:hover {
  background: #C29974;
}

.contact__main-submit:active {
  background: #CFAF91;
}

.contact__text-subtitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-bottom: 20px;
}

.contact__text-caps {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}
