.contact {
  margin-top: 60px;
  margin-bottom: 60px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 15px;
  }

  &__main {
    display: flex;
    gap: 120px;
  }

  &__wrapper {
    background: #E5EAF8;
    min-width: 680px;
    min-height: 542px;
    z-index: 20;
  }

  &__form {
    padding: 42px 40px;
  }

  &__one-input,
  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__label--name {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 3px;
  }

  &__input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 48px;
    margin-bottom: 21px;
    min-width: 248px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__two-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__textarea {
    width: 600px;
    height: 123px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    resize: none;
    margin-bottom: 17px;
    padding: 14px 20px 11px 20px;
  }

  &__personal {
    margin-bottom: 13px;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+ label {
      display: inline-flex;
    }

    &+ label::before {
      content: '';
      width: 19px;
      height: 19px;
      background-image: url(/img/icon/checkbox.svg);
      margin-right: 15px;
    }

    &:checked + label::before {
      background-image: url(/img/icon/checkbox_check.svg);
    }
  }

  &__button {
    padding: 9px 22px;
    background: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: max-content;
    border: 0;
    cursor: pointer;

    &:hover {
      background: #C29974;
    }

    &:active {
      background: #CFAF91;
    }
  }

  &__subtitle--normal {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 20px;
  }

  &__subtitle--caps {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
  }
}
