.apex {
  margin-top: 60px;

  @media (max-width: 1399px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 46px;
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 15px;

    @media (max-width: 1399px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 10px;
    }
  }
}

.grid {
  &__wrapper {
    margin: 0 auto;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(7, 215px);

    @media (max-width: 1399px) {
      width: 768px;
      grid-template-columns: repeat(2, 384px);
      grid-template-rows: 278px repeat(3, 430px) repeat(2, 350px) 215px;
    }

    @media (max-width: 767px) {
      width: 375px;
      grid-template-columns: 375px;
      grid-template-rows: 278px 530px 322px 309px 512px 300px 200px 596px 320px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.box1 {
  background: #FFFFFF;
  grid-column: 1/3;
  grid-row: 1/3;
  gap: 71px;

  @media (max-width: 1399px) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 40px;
    flex-direction: column;
  }

  &__wrapper {
    width: 220px;

    @media (max-width: 767px) {
      width: 328px;
      margin-top: 31px;
    }
  }

  &__tel {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #BCBCBE;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2C3036;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BCBCBE;
  }

  &__img {
    margin-top: 85px;

    @media (max-width: 767px) {
      margin: 0;
    }
  }
}

.box2 {
  background: #F7F8FA;
  grid-column: 3/5;
  grid-row: 1/3;
  flex-direction: column;
  text-align: center;

  @media (max-width: 1399px) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
    align-items: flex-start;
    padding-left: 20px;
  }

  &__learn {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #BCBCBE;
    margin-bottom: 20px;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #2C3036;
    margin-bottom: 10px;
    width: 450px;

    @media (max-width: 1399px) {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 40px;
      width: 500px;
    }

    @media (max-width: 767px) {
      width: 335px;
    }
  }

  &__btn {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2198F4;
    background: none;
    border: 0;
    padding: 0;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box3 {
  background: #EF5539;
  grid-column: 1/2;
  grid-row: 3/5;
  flex-direction: column;
  text-align: center;

  @media (max-width: 1399px) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 170px;
  }

  &__link {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFC80A;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box4 {
  background: #FFFFFF;
  grid-column: 2/4;
  grid-row: 3/5;
  column-gap: 23px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1399px) {
    grid-column: 1/3;
    grid-row: 4/5;
    column-gap: 57px;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 5/6;
    flex-direction: column;
    padding-left: 20px;
    gap: 40px;
  }

  &__wrapper1 {
    margin-top: 111px;
    width: 352px;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__subtitle {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #BCBCBE;
    margin-bottom: 10px;
    margin-left: 95px;

    @media (max-width: 1399px) {
      margin-left: 130px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__title {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2C3036;
    margin-bottom: 53px;
    width: 150px;
    margin-left: 95px;

    @media (max-width: 1399px) {
      margin-left: 130px;
    }

    @media (max-width: 767px) {
      margin-bottom: 40px;
      margin-left: 0;
    }
  }

  &__img {
    @media (max-width: 1399px) {
      min-width: 420px;
      height: 164px;
    }

    @media (max-width: 767px) {
      min-width: 375px;
      margin-left: -20px;
    }
  }

  &__wrapper2 {
    width: 230px;
    margin-top: 108px;

    @media (max-width: 767px) {
      margin-top: 0;
      width: 332px;
    }
  }

  &__description {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BCBCBE;
    margin-bottom: 14px;
  }

  &__btn {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #2198F4;
    background: none;
    border: 0;
    padding: 0;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box5 {
  background: #8F75BC;
  grid-column: 4/5;
  grid-row: 3/7;
  flex-direction: column;
  text-align: center;

  @media (max-width: 1399px) {
    grid-column: 2/3;
    grid-row: 5/7;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 8/9;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__description {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 230px;
  }

  &__link {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #2C3036;
    background: #FFC80C;
    border-radius: 27px;
    padding: 19px 41px;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box6 {
  background: #93B7B7;
  grid-column: 1/3;
  grid-row: 5/7;
  text-align: center;
  gap: 31px;
  flex-direction: column;
  justify-content: end;
  background-image: url(../img/lable.png);
  background-repeat: no-repeat;
  background-position: left 20px top 18px;

  @media (max-width: 1399px) {
    grid-column: 1/2;
    grid-row: 5/6;
    gap: 50px;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 6/7;
    gap: 34px;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    width: 200px;
  }
}

.box7 {
  background: #F7F8FA;
  grid-column: 3/4;
  grid-row: 5/7;
  flex-direction: column;

  @media (max-width: 1399px) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2C3036;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &__btn {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #2198F4;
    background: none;
    border: 0;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box8 {
  background: #F7F8FA;
  grid-column: 1/2;
  grid-row: 7/8;
  gap: 15px;
  flex-direction: column;

  @media (max-width: 1399px) {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  &__link {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2C3036;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}

.box9 {
  background: #2C2C2C;
  grid-column: 2/5;
  grid-row: 7/8;
  gap: 80px;

  @media (max-width: 1399px) {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 9/10;
    gap: 0;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }

  &__title {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    width: 189px;
    margin-right: 108px;

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
}
