@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "blog";
@import "contact";
@import "catalog";
@import "toys";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.collection {
  background: #EEE4DB;
  position: relative;
  margin-bottom: 90px;
  margin-top: 129px;
}

.collection__img {
  position: absolute;
  top: -87px;
  right: 100px;
}

.collection__wrapper {
  display: flex;
}

.collection__switch {
  margin-top: 17px;
  margin-left: 31px;
  margin-right: 44px;
}

.collection__switch-num {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.collection__switch-list-item {
  width: 31px;
  height: 3px;
  margin-bottom: 10px;
}

.collection__switch-list-item-button {
  width: 31px;
  height: 3px;
  border: 0;
  background: #D6CAC2;
  cursor: pointer;
}

.collection__switch-list-item-button:hover {
  background: #725F5B;
}

.collection__text {
  margin-top: 91px;
  margin-bottom: 89px;
}

.collection__text-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  width: 307px;
  margin: 0;
  margin-bottom: 18px;
}

.collection__text-subtitle {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
  margin-bottom: 20px;
}

.collection__text-button {
  width: max-content;
  height: 40px;
  background: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  padding: 9px 22px;
}

.collection__text-button:hover {
  background: #C29974;
}

.collection__text-button:active{
  background: #CFAF91;
}

.collection__basement {
  display: flex;
  background: #C29974;
  text-align: center;
  height: 39px;
  justify-content: center;
  flex-direction: column;
}

.collection__sub-subtitle {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.category {
  margin-bottom: 90px;
}

.category__products {
  margin-bottom: 33px;
}

.category__products-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 30px;
}

.category__products-list {
  display: flex;
}

.category__products-list-item {
  width: 280px;
  height: 270px;
  position: relative;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__products-list-item-img {
  background-color: #DBE4DB;
}

.category__products-list-item:nth-child(4) {
  margin-right: 0;
}

.green {
  background: #DBE4DB;
}

.brown {
  background: #EADDD3;
}

.beige {
  background: #F8F2DA;
}

.blue {
  background: #D5D4E1;
}

.category__products-list-item-text {
  position: absolute;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  top: 103px;
}

.category__products-list-item-text:hover,
.category__products-list-item-text:active{
  text-decoration: underline;
}

.text-apparel {
  left: 75px;
  width: 129px;
  text-align: center;
}

.text-holiday {
  left: 62px;
  width: 155px;
  text-align: center;
}

.text-toys {
  top: 119px;
  left: 104px;
}

.text-accessories {
  top: 119px;
  left: 44px;
}

.category__switch {
  display: flex;
}

.category__switch-left-arrow,
.category__switch-right-arrow {
  width: 37px;
  height: 37px;
  background: rgba(112, 187, 220, 0.2);
  border: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.category__switch-left-arrow:hover,
.category__switch-right-arrow:hover,
.category__switch-left-arrow:active,
.category__switch-right-arrow:active {
  opacity: 0.5;
}

.category__switch-left-arrow {
  margin-right: 6px;
  background-image: url(/img/icon/left_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.category__switch-right-arrow {
  margin-right: 20px;
  background-image: url(/img/icon/right_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.category__switch-subtitle {
  width: 580px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.delivery {
  display: flex;
  margin-bottom: 90px;
}

.delivery__img {
  margin-right: 120px;
  background-color: rgba(112, 187, 220, 0.2);
}

.delivery__text-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 4px;
  margin-top: 30px;
}

.delivery__text-subtitle {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
  margin-bottom: 22px;
}

.delivery__text-subtitle-margin {
  margin-bottom: 30px;
}

.delivery__weight {
  font-weight: 700;
  padding-left: 60px;
  padding-top: 11px;
}

.background-blue {
  width: 266px;
  height: 44px;
  background: rgba(112, 187, 220, 0.2);
  margin-bottom: 11px;
  margin-left: -60px;
}

.delivery__text-description {
  width: 470px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-bottom: 15px;
}

.delivery__margin {
  margin-bottom: 35px;
}

.delivery__text-link {
  padding: 9px 22px;
  background: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.delivery__text-link:hover {
  background: #C29974;
}

.delivery__text-link:active{
  background: #CFAF91;
}

.awards {
  margin-bottom: 114px;
}

.awards__title {
  display: none;
}

.awards__list {
  display: flex;
  align-items: flex-end;
}

.awards__list-item {
  margin-right: auto;
  cursor: pointer;
}

.awards__list-item:hover {
  opacity: 0.5;
}

.awards__list-item:nth-child(4) {
  margin: 0;
}

.wrapper {
  display: flex;
  margin-bottom: 155px;
}

.design {
  width: 543px;
  min-height: 228px;
  background: #E1F0F7;
  margin-right: 57px;
}

.design__wrapper {
  margin-left: 30px;
}

.design__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: -26px;
}

.design__subtitle {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
  margin-bottom: 10px;
  margin-top: 10px;
}

.design__description {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-bottom: 29px;
  width: 483px;
}

.design__link {
  padding: 9px 22px;
  background: #000000;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.design__link:hover {
  background: #C29974;
}

.design__link:active {
  background: #CFAF91;
}

.contacts {
  width: 543px;
  height: 209px;
  background: #E1F0F7;
}

.contacts__wrapper {
  margin-left: 30px;
}

.contacts__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: -26px;
}

.contacts__subtitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-bottom: 30px;
  width: 483px;
  margin-top: 20px;
}

.modal {
  display: none;
  position: absolute;
  top: 113px;
  left: 28%;
}

.open {
  display: flex;
  flex-direction: row;
}

.modal__close {
  background-image: url(/img/close.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  z-index: 20;
}

.modal__close:hover {
  opacity: 0.7;
}

.modal__close:hover {
  opacity: 0.4;
}

.modal__overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(125, 151, 218, 0.8);
}

.contact__main {
  z-index: 20;
}
