@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/

@import "fonts";
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/path";
@import "_blocks/button";
@import "_blocks/link";
@import "_blocks/pages";
@import "_blocks/container__mobile";
@import "_blocks/container__header--mobile";
@import "blog";
@import "contact";
@import "catalog";
@import "toys";
@import "animation";
@import "svg";
@import "grid";



/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.audio {
  position: absolute;
  top: 17px;
  left: 133px;
  @media (max-width: 1399px) {
    display: none;
  }
}

.collection {
  background: #EEE4DB;
  position: relative;
  margin-bottom: 90px;
  margin-top: 129px;

  @media (max-width: 1399px) {
    margin-top: 0;
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    margin-bottom: 80px;
  }

  &__img {
    position: absolute;
    top: -87px;
    right: 100px;

    @media (max-width: 1399px) {
      right: 8px;
      top: 86px;
    }

    @media (max-width: 767px) {
      right: 0;
      top: 212px;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: row-reverse;
    }
  }

  &__switch {
    margin-top: 17px;
    margin-left: 31px;
    margin-right: 44px;

    @media (max-width: 1399px) {
      margin-top: 17px;
      margin-left: 0;
      margin-right: 11px;
    }

    @media (max-width: 767px) {
      margin-top: 21px;
      margin-left: 10px;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  &__num {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);

    @media (max-width: 1399px) {
      font-weight: 300;
      font-size: 48px;
      line-height: 59px;
    }
  }

  &__list {
    @media (max-width: 1399px) {
      margin: 0;
    }
  }

  &__item {
    width: 31px;
    height: 3px;
    margin-bottom: 10px;
  }

  &-item__button {
    width: 31px;
    height: 3px;
    border: 0;
    background: #D6CAC2;
    cursor: pointer;

    @media (max-width: 1399px) {
      max-width: 27px;
    }

    &:hover {
      transition: 0.5s;
      background: #725F5B;
    }
  }

  &__text {
    margin-top: 91px;
    margin-bottom: 89px;

    @media (max-width: 1399px) {
      margin-top: 76px;
      margin-bottom: 102px;
    }

    @media (max-width: 767px) {
      margin-top: 80px;
      width: 276px;
      margin-bottom: 187px;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: $color-text;
    width: 307px;
    margin: 0;
    margin-bottom: 18px;

    @media (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 13px;
    }
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: $color-text;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 15px;
    }
  }

  &__basement {
    display: flex;
    background: $color-brown;
    text-align: center;
    height: 39px;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 767px) {
      height: 55px;
    }
  }

  &__sub-subtitle {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;

    @media (max-width: 767px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.category {
  margin-bottom: 90px;

  @media (max-width: 1399px) {
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    margin-bottom: 80px;
  }

  &__products {
    margin-bottom: 33px;

    @media (max-width: 1399px) {
      margin-bottom: 27px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 30px;

    @media (max-width: 1399px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 24px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    column-gap: 20px;
    overflow: hidden;
  }

  &__item {
    width: 280px;
    height: 270px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1399px) {
      min-width: 258px;
      max-height: 249px;
    }

    @media (max-width: 767px) {
      min-width: 247px;
      max-height: 238px;
    }

    &:nth-child(4) {
      margin-right: 0;
    }

    &--green {
      background: #DBE4DB;
    }

    &--brown {
      background: #EADDD3;
    }

    &--beige {
      background: #F8F2DA;
    }

    &--blue {
      background: #D5D4E1;
    }
  }

  &-item__img {
    background-color: #DBE4DB;
  }

  &-item__text {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: $color-white;
    top: 103px;

    @media (max-width: 1399px) {
      top: 95px;
    }

    &:hover,
    &:active{
      transition: 0.5s;
      text-decoration: underline;
    }

    &--apparel {
      left: 75px;
      width: 129px;
      text-align: center;

      @media (max-width: 1399px) {
        left: 58px;
      }
    }

    &--holiday {
      left: 62px;
      width: 155px;
      text-align: center;
    }

    &--toys {
      top: 119px;
      left: 104px;
    }

    &--accessories {
      top: 119px;
      left: 44px;
    }
  }

  &__switch {
    display: flex;
  }

  &__button {
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    border: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover,
    &:active {
      transition: 0.5s;
      opacity: 0.5;
    }

    &--left {
      margin-right: 6px;
      background-image: url(/img/icon/left_arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--right {
      margin-right: 20px;
      background-image: url(/img/icon/right_arrow.svg);
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: 767px) {
        margin-right: 16px;
      }
    }
  }

  &__description {
    width: 580px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;

    @media (max-width: 1399px) {
      font-size: 14px;
      line-height: 19px;
    }

    @media (max-width: 767px) {
      width: 247px;
    }
  }
}

.delivery {
  display: flex;
  margin-bottom: 90px;

  @media (max-width: 1399px) {
    gap: 56px;
    margin-bottom: 60px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
  }

  &__img {
    margin-right: 120px;
    background-color: rgba(112, 187, 220, 0.2);

    @media (max-width: 1399px) {
      margin-right: 0;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 4px;
    margin-top: 30px;

    @media (max-width: 1399px) {
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: $color-text;
    margin-bottom: 22px;

    @media (max-width: 1399px) {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 31px;
    }

    &--margin {
      margin-bottom: 30px;

      @media (max-width: 1399px) {
        margin-bottom: 20px;
      }
    }

    &--weight {
      font-weight: 700;
      padding-left: 60px;
      padding-top: 5px;
      width: 266px;
      height: 44px;
      background: rgba(112, 187, 220, 0.2);
      margin-bottom: 11px;
      margin-left: -60px;

      @media (max-width: 1399px) {
        padding-left: 20px;
        margin-left: -20px;
        margin-bottom: 8px;
      }
    }
  }

  &__description {
    width: 470px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    margin-bottom: 15px;

    @media (max-width: 1399px) {
      max-width: 312px;
      font-size: 14px;
      line-height: 19px;
    }

    @media (max-width: 767px) {
      max-width: 335px;
    }

    &--margin {
      margin-bottom: 35px;

      @media (max-width: 1399px) {
        margin-bottom: 30px;
      }
    }
  }
}

.awards {
  margin-bottom: 114px;
  width: 100%;

  @media (max-width: 1399px) {
    margin-bottom: 104px;
  }

  @media (max-width: 767px) {
    margin-bottom: 95px;
  }

  &__title {
    display: none;
  }

  &__list {
    display: flex;
    align-items: flex-end;

    @media (max-width: 1399px) {
      gap: 70px;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      column-gap: 37px;
      row-gap: 30px;
    }
  }

  &__item {
    margin-right: auto;
    cursor: pointer;

    @media (max-width: 767px) {
      margin-right: 0;
    }

    &:hover {
      transition: 0.5s;
      opacity: 0.5;
    }

    &:nth-child(4) {
      margin: 0;
    }
  }

  &__img {
    @media (max-width: 1399px) {
      max-height: 33px;
    }

    @media (max-width: 767px) {
      max-height: 42px;
      max-width: 149px;
    }
  }
}

.wrapper {
  display: flex;
  margin-bottom: 155px;

  @media (max-width: 1399px) {
    margin-bottom: 125px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 148px;
  }
}

.design {
  width: 543px;
  min-height: 228px;
  background: #E1F0F7;
  margin-right: 57px;

  @media (max-width: 1399px) {
    min-width: 314px;
    min-height: 302px;
    margin-right: 20px;
  }

  @media (max-width: 767px) {
    min-height: 218px;
    width: 100%;
  }

  &__wrapper {
    margin-left: 30px;

    @media (max-width: 1399px) {
      margin-left: 15px;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $color-text;
    margin-top: -26px;

    @media (max-width: 1399px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: -18px;
      margin-bottom: 14px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: -15px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: $color-text;
    margin-bottom: 10px;
    margin-top: 10px;

    @media (max-width: 1399px) {
      margin-top: 0;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 31px;
      margin-top: 10px;
    }
  }

  &__description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    margin-bottom: 29px;
    width: 483px;

    @media (max-width: 1399px) {
      width: 260px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
      width: 100%;
      margin-bottom: 23px;
    }
  }

  &__link {
    padding: 9px 22px;
    background: #000000;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-white;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      background: $color-brown;
    }

    &:active {
      transition: 0.5s;
      background: #CFAF91;
    }
  }
}

.contacts {
  width: 543px;
  height: 209px;
  background: #E1F0F7;

  @media (max-width: 1399px) {
    min-width: 314px;
    min-height: 272px;
  }

  @media (max-width: 767px) {
    width: 100%;
    min-height: 215px;
  }

  &__wrapper {
    margin-left: 30px;

    @media (max-width: 1399px) {
      margin-left: 15px;
    }

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $color-text;
    margin-top: -26px;

    @media (max-width: 1399px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: -19px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: -15px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-text;
    margin-bottom: 30px;
    width: 483px;
    margin-top: 20px;

    @media (max-width: 1399px) {
      width: 260px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }

  &__map {
    @media (max-width: 1399px) {
      width: 284px;
      height: 151px;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 196px;
    }
  }
}

.modal {
  display: none;
  position: absolute;
  top: 113px;
  left: 28%;

  @media (max-width: 1399px) {
    top: 216px;
    right: 8%;
  }

  @media (max-width: 767px) {
    top: 103px;
    right: 5%;
  }

  &__close {
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    z-index: 20;

    @media (max-width: 1399px) {
      margin-left: 0;
      margin-bottom: 10px;
    }

    &:hover {
      transition: 0.5s;
      opacity: 0.7;
    }
  }

  &__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(125, 151, 218, 0.8);
  }
}

.open {
  display: flex;
  flex-direction: row;

  @media (max-width: 1399px) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
