.kids {
  margin-top: 60px;
  margin-bottom: 50px;

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 15px;
  }

  &__path {
    display: flex;
    gap: 49px;
    position: relative;
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;

    &--home::after {
      content: url(/img/icon/vector.svg);
      position: absolute;
      left: 62px;
    }

    &--catalog::after {
      content: url(/img/icon/vector.svg);
      position: absolute;
      left: 167px;
    }

    &--active {
      opacity: 0.5;
    }
  }
}

.filter {
  background: rgba(125, 151, 218, 0.2);
  min-height: 254px;
  width: 100%;
  margin-bottom: 60px;

  &__title {
    display: none;
  }

  &__wrapper {
    display: flex;
    padding-top: 42px;
  }

  &__delivery {
    margin-right: 69px;
  }

  &__delivery-title {
    margin-bottom: 15px;
  }
}

.cost {
  display: flex;
  flex-direction: column;
  margin-right: 94px;
  min-width: 207px;

  &__label {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__input {
    width: 188px;
    appearance: none;
    margin-top: 24px;
    margin-bottom: 16px;

    &::-webkit-slider-runnable-track {
      height: 4px;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::-webkit-slider-thumb {
      background-image: url(/img/icon/thumb.svg);
      cursor: pointer;
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      margin-top: -10px;
    }

    &::-moz-range-track {
      height: 4px;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::-moz-range-thumb {
      background-image: url(/img/icon/thumb.svg);
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin-top: -10px;
    }
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
  }

  &__num {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
}

.color {
  margin-right: 124px;

  &__fieldset {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }

  &__label {
    font-weight: 400;
    display: flex;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #1E0606;
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label::before {
      content: '';
      width: 19px;
      height: 19px;
      background-image: url(/img/icon/checkbox.svg);
      margin-right: 10px;
    }

    &:checked+label::before {
      background-image: url(/img/icon/checkbox_check.svg);
    }
  }
}

.delivery__fieldset {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  border: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.delivery__label {
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    text-decoration-line: underline;
    color: #1E0606;
  }
}

.delivery__input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &+label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/img/icon/radio.svg);
    margin-right: 10px;
  }

  &:checked+label::before {
    background-image: url(/img/icon/radio_check.svg);
  }
}

.amount {
  margin-right: 60px;

  &__fieldset {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    border: 0;
    padding: 0;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__wrapper {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    float: left;
  }

  &__input {
    display: none;

    &:checked + label {
      background: #F3D0DB;
    }
  }

  &__label {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 35px;
    background: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:hover {
      background: #EDDEEB;
        color: #877379;
    }
  }
}

.apply {
  margin-top: 37px;
}

.toys {
  margin-bottom: 57px;

  &__title {
    display: none;
  }

  &__catalog {
    margin-bottom: 75px;
  }

  &__list {
    display: flex;
    column-gap: 20px;
    row-gap: 45px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__block {
    background-color: #E5EAF8;
    width: 207px;
    height: 207px;
    position: absolute;
    top: 700px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;

    &--two {
      background-color: #E5EAF8;
      width: 207px;
      height: 207px;
      position: absolute;
      top: 1230px;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
    }

    &--hover {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 26px;
      line-height: 29px;
      color: #1E0606;
    }
  }

  &__img {
    margin-bottom: 30px;
    display: flex;
    position: relative;
  }

  &item:hover &__block {
    opacity: 0.9;
  }

  &__item:active &__block {
    opacity: 0.67;
  }

  &__item:hover &__block--two {
    opacity: 0.9;
  }

  &__item:active &__block--two {
    opacity: 0.67;
  }

  &__desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 15px;
  }

  &__price {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }

  &__pages {
    display: flex;
    justify-content: space-between;
  }

  &__btn--left {
    background-image: url(/img/icon/arrow_inaction.svg);
    border: 0;
    width: 18px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/img/icon/arrow_hover.svg);
    }

    &:active {
      background-image: url(/img/icon/arrow_active.svg);
    }
  }

  &__btn--right {
    background-image: url(/img/icon/arrow_inaction.svg);
    border: 0;
    width: 18px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;

    &:hover {
      background-image: url(/img/icon/arrow_hover.svg);
    }

    &:active {
      background-image: url(/img/icon/arrow_active.svg);
    }
  }

  &__numbers {
    display: flex;
    gap: 64px;
  }

  &__num {
    border: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    background: none;
    cursor: pointer;

    &:hover {
      color: #AAAAAA;
    }

    &:active {
      color: #C29974;
    }

    &--active {
      color: #C29974;
    }
  }
}
