<footer class="footer">
  <div class="footer__wrapper container container__mobile">
      <div class="footer__navigation">
          <p class="footer__title footer__title--border">Navigation</p>
          <nav class="footer__nav">
              <ul class="footer__list footer__list--grid undotted ">
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">About Us</a>
                  </li>
                  <li class="footer__item">
                      <a href="blog.html" class="footer-item__link">Blog</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Design Services</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Featured On</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">2018 Holiday Catalog</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Shop By Designer</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="footer__information">
          <p class="footer__title footer__title--border">Customer Information</p>
          <nav class="footer__nav">
              <ul class="footer__list footer__list--grid undotted">
                  <li class="footer__item">
                      <a href="contact.html" class="footer-item__link">Contact Us</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Sale Exclusions</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Shipping & Returns</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Terms & Conditions</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Privacy Policy</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer-item__link">Search</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="footer__connect">
          <p class="footer__title footer__title--border">Connect</p>
          <div class="footer__email">
              <input type="text" name="text" placeholder="Email" class="footer__input">
              @@include('blocks/button.html', {
                "text": "Join"
              })
          </div>
          <ul class="footer__list footer__list--flex undotted">
              <li class="footer__item footer__item--circle">
                  <a href="#" class="footer__link">
                      <img src="./img/icon/facebook.svg" alt="facebook" class="footer__img">
                  </a>
              </li>
              <li class="footer__item footer__item--circle">
                  <a href="#" class="footer__link">
                      <img src="./img/icon/twitter.svg" alt="twitter" class="footer__img">
                  </a>
              </li>
              <li class="footer__item footer__item--circle">
                  <a href="#" class="footer__link">
                      <img src="./img/icon/pinterest.svg" alt="pinterest" class="footer__img">
                  </a>
              </li>
              <li class="footer__item footer__item--circle">
                  <a href="#" class="footer__link">
                      <img src="./img/icon/instagram.svg" alt="instagram" class="footer__img">
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <div class="footer__bottom container container__mobile">
      <ul class="footer__list footer__list--flex undotted">
          <li class="footer__item footer__item--margin">
              <fieldset class="footer__rating">
                  Company Rating
                  <div class="footer__rating-area">
                      <input type="radio" id="star-5" name="rating" value="5">
                      <label for="star-5" title="grade «5»"></label>
                      <input type="radio" id="star-4" name="rating" value="4">
                      <label for="star-4" title="grade «4»"></label>
                      <input type="radio" id="star-3" name="rating" value="3">
                      <label for="star-3" title="grade «3»"></label>
                      <input type="radio" id="star-2" name="rating" value="2">
                      <label for="star-2" title="grade «2»"></label>
                      <input type="radio" id="star-1" name="rating" value="1">
                      <label for="star-1" title="grade «1»"></label>
                  </div>
              </fieldset>
          </li>
          <li class="footer__item footer__item--margin">Copyright © 2018 Dlk • Design Life Kids</li>
          <li class="footer__item footer__item--transparent">Web Design — Direct Line Development</li>
      </ul>
  </div>
</footer>
