<header class="header container">
  <a href="/" class="header__link">
      <img src="./img/icon/logo.svg" alt="logo" class="header__logo">
  </a>
  <nav class="header__nav">
      <ul class="header__list undotted">
          <li class="header__item">
              <a href="blog.html" class="header-item__link">Blog</a>
          </li>
          <li class="header__item">
              <a href="catalog.html" class="header-item__link">Catalog</a>
          </li>
          <li class="header__item">
              <a href="#" class="header-item__link">About Us</a>
          </li>
          <li class="header__item">
              <a href="#" class="header-item__link">Blog</a>
          </li>
          <li class="header__item">
              <a href="animation.html" class="header-item__link">Animation</a>
          </li>
          <li class="header__item">
              <a href="#" class="header-item__link">SVG</a>
          </li>
          <li class="header__item">
              <a href="#" class="header-item__link">Grid</a>
          </li>
      </ul>
  </nav>
  <ul class="header__list undotted">
      <li class="header__item">
          <a href="#" class="header-item__link header-item__icon"></a>
      </li>
      <li class="header__item">
          <a href="contact.html" class="header-item__link header-item__link--fatty">Contact  Us</a>
      </li>
  </ul>
</header>
